.header{
	width: 100vw;
	height: 0.88rem;
    background-color: #007af4;
    line-height: 0.88rem;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 0.34rem;
}
.user{
    position: absolute;
    right: .2rem;
    top: .27rem;
    font-size: 0.4rem;
}