.home_nav {
    width: 100vw;
    height: 0.64rem;

    img {
        width: 100%;
        height: 100%;
    }
}
.wrap{
    background #000
    height: 100vh;
    width:100vw
}
.homeDetail_list {
    width: 100vw;
    height: 2.03rem;
    box-shadow: 0.02rem 0.03rem 0.03rem 0rem rgba(204, 204, 204, 0.75);
    background: #fff;
    display: flex;
    margin-top: 0.08rem
    .homeDetail_left {
        width: 1.34rem;
        height: 2.03rem;

        .homeDetail_img {
            width: 1.19rem;
            height: 1.24rem;
            margin-left: 0.15rem;
            margin-top: 0.17rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .homeDetail_right {
        flex: 1;
        position: relative;
        margin-left: 0.19rem;

        h2 {
            margin-bottom: 0;
            width: 0.68rem;
            height: 0.31rem;
            font-family: MicrosoftYaHei;
            font-size: 0.2rem;
            font-weight: normal;
            font-stretch: normal;
            line-height: 0.31rem;
            letter-spacing: 0.02rem;
            color: #333333;
            margin-top: 0.15rem;
            display: inline-block;
        }

        h3 {
            margin-bottom: 0;
            display: inline-block;
            width: 0.57rem;
            height: 0.3rem;
            border-radius: 0.15rem;
            border: 1px solid green;
            text-align: center;
            line-height: 0.3rem;
            margin-top: 0.15rem;
            margin-left: 0.07rem;
            color: green;
        }

        .homeDetail_weizhi {
            height: 0.19rem;
            font-family: MicrosoftYaHei;
            font-size: 0.16rem;
            font-weight: normal;
            font-stretch: normal;
            height: 0.29rem;
            line-height: 0.29rem;
            letter-spacing: 0.02rem;
            color: #9a9a9a;
            margin-bottom: 0rem;
        }

        .homeDetail_jieshao {
            height: 0.41rem;
            font-family: MicrosoftYaHei;
            font-size: 0.16rem;
            line-height: 0.24rem;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0.02rem;
            color: #9a9a9a;
            margin-top: 0.08rem;
        }
        .homeDetail_guanzhu{
            color: #9a9a9a; 
        }
        .homeDetail_didian {
            width: 1.5rem;
            height: 0.33rem;
            text-align: center;
            line-height: 0.33rem;
            position: absolute;
            bottom: 0.06rem;
            right: 0.02rem;
            font-size: 0.17rem;
            color: #9a9a9a; 
        }

        .homeDetail_jiaqian {
            width: 1.3rem;
            height: 0.3rem;
            position: absolute;
            top: 0.25rem;
            right: 0.15rem;
            font-size: 0.2rem;
            line-height: 0.3rem;
            letter-spacing: 0.02rem;
            color: #ff6600;

            i {
                font-size: 0.16rem;
                color: #9a9a9a;
            }
        }
    }
}